section(id="about")
  div(class="about_slider")
    img(src="../img/home2.png", alt="")
  div(class="about_content")
    h1 Lorem ipsum dolor
    p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Praesentium dolorum consequatur ut eligendi voluptates rerum? Quam, magni molestiae, voluptates, placeat incidunt vero minus nam ab aliquid neque non accusantium explicabo.
    p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Praesentium dolorum consequatur ut eligendi voluptates rerum? Quam, magni molestiae, voluptates, placeat incidunt vero minus nam ab aliquid neque non accusantium explicabo.
    a(href="") instagram
     <i class="bi bi-instagram"></i>
    a(href="") whatsapp
      <i class="bi bi-whatsapp"></i>