section(id="contact")
  div(class="contact-content")
    h1 Entre em contato para fazer um orçamento
     <i class="bi bi-lightning-fill"></i>
    a(href="https://api.whatsapp.com/send?phone=5548999210432&text=Ol%C3%A1%20meu%20nome%20%C3%A9%20%22seu%20nome%22,%20gostaria%20de%20fazer%20um%20or%C3%A7amento." target="_blank") Orçamento 
  div(class="contact-image")
    img(src="../img/contact.png", alt="ilustração")
