meta(charset="UTF-8")
meta(name="viewport", content="width=device-width, initial-scale=1.0")
meta(name="description" content="Melhores serviços elétricos para sua casa e comercio")
meta(name="author" content="Luan Fagioni")
link(rel="icon", href="../img/logo.png")
link(rel="stylesheet", href="../css/style.css")
script(src="../js/index.js" defer) 
title Freitas Elétrica