header 
  nav 
    a( class="header_logo" href="#") Freitas Elétrica 
    div( class="mobile_menu" )
      div( class="line1" ) 
      div( class="line2" )
      div( class="line3" )
    ul( class="nav_list" )
      li
        a(href="#") Inicio
      li
        a(href="#") Sobre
      li
        a(href="#") Serviços
      li
        a(href="#") Contato