header 
  nav 
    a( class="header_logo" href="#") Freitas Elétrica 
    div( class="mobile-menu" )
      div 
      div 
      div
    ul( class="nav-list" )
      li
        a(href="#") Inicio
      li
        a(href="#") Sobre
      li
        a(href="#") Serviços
      li
        a(href="#") Contato