section(id="home")
  img( class="home_city" src="../img/home1.png", alt="ilustração")
  img( class="home_house" src="../img/home2.png", alt="ilustração")
  img( class="home_circles" src="../img/home3.png", alt="ilustração")

  div(class="home_content")
    h1 Seja bem vindo a melhor empresa de elétrica que voce irá conhecer
    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatum aliquam quos commodi voluptatem, dolores in enim debitis accusamus amet eligendi reprehenderit ducimus nisi, ut ipsum illum, laborum esse aliquid odio.
    span 
      <i class="bi bi-star-fill"></i> Serviços de qualidade
    span 
      <i class="bi bi-telephone-fill"></i> Atendimento de qualidade
    span 
      <i class="bi bi-coin"></i> Preço justo
    a(href="https://api.whatsapp.com/send?phone=5548999210432&text=Ol%C3%A1%20meu%20nome%20%C3%A9%20%22seu%20nome%22,%20gostaria%20de%20fazer%20um%20or%C3%A7amento." target="_blank") Fazer orçamento 