section(id="services")
  div(class="services_top") 
    div(class="services_top_title")
      h1 Nossos serviços
      p Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsam ipsa recusandae consequatur
    div(class="services_top_cards")
      div 
        img(src="../img/residencial.png", alt="ilustração")
        h1 Residencial
        p Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta doloremque adipisci veritatis eos! Aperiam ad alias sint, tempora, commodi
        a(href="https://api.whatsapp.com/send?phone=5548999210432&text=Ol%C3%A1%20meu%20nome%20%C3%A9%20%22seu%20nome%22,%20gostaria%20de%20fazer%20um%20or%C3%A7amento." target="_blank") Saber mais
      div 
        img(src="../img/commercial.png", alt="ilustração")
        h1 Comercial
        p Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta doloremque adipisci veritatis eos! Aperiam ad alias sint, tempora, commodi
        a(href="https://api.whatsapp.com/send?phone=5548999210432&text=Ol%C3%A1%20meu%20nome%20%C3%A9%20%22seu%20nome%22,%20gostaria%20de%20fazer%20um%20or%C3%A7amento." target="_blank") Saber mais

  div(class="services_bottom") 
    h1 Obter os serviços elétricos que você precisa é fácil e sem estresse

    div(class="services_bottom_cards")
      div(class="services_bottom_card")
        div
          <i class="bi bi-lightning-fill"></i>
        h2 Instalações elétricas
        p Lorem, ipsum dolor sit amet consectetur adipisicing elit. Iure, sunt beatae
      div(class="services_bottom_card") 
        div
          <i class="bi bi-fingerprint"></i>
        h2 Segurança eletrônica
        p Lorem, ipsum dolor sit amet consectetur adipisicing elit. Iure, sunt beatae
      div(class="services_bottom_card")
        div
          <i class="bi bi-brightness-high-fill"></i>
        h2 Energia Solar
        p Lorem, ipsum dolor sit amet consectetur adipisicing elit. Iure, sunt beatae
      div(class="services_bottom_card")
        div
          <i class="bi bi-fan"></i>
        h2 Ar condicionado
        p Lorem, ipsum dolor sit amet consectetur adipisicing elit. Iure, sunt beatae
