section(id="services")
  div(class="services_top") 
    div(class="services_top_title")
      h1 Nossos serviços
      p Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsam ipsa recusandae consequatur
    div(class="services_top_cards")
      div 
        img(src="../img/residencial.png", alt="")
        h1 Residencial
        p Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta doloremque adipisci veritatis eos! Aperiam ad alias sint, tempora, commodi
        a(href="") Saber mais
      div 
        img(src="../img/commercial.png", alt="")
        h1 Comercial
        p Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta doloremque adipisci veritatis eos! Aperiam ad alias sint, tempora, commodi
        a(href="") Saber mais

  div(class="services_bottom") 
    h1 Obter os serviços elétricos que você precisa é fácil e sem estresse

    div(class="services_bottom_cards")
      div(class="services_bottom_card")
        div
        h2 Instalações
        p Lorem, ipsum dolor sit amet consectetur adipisicing elit. Iure, sunt beatae
      div(class="services_bottom_card") 
        div
        h2 Conserto
        p Lorem, ipsum dolor sit amet consectetur adipisicing elit. Iure, sunt beatae
      div(class="services_bottom_card")
        div
        h2 Manutenção
        p Lorem, ipsum dolor sit amet consectetur adipisicing elit. Iure, sunt beatae
      div(class="services_bottom_card")
        div
        h2 Exemplo
        p Lorem, ipsum dolor sit amet consectetur adipisicing elit. Iure, sunt beatae
