doctype html
html(lang="pt-br")
  head
    include partials/head.pug
  body
    h1 teste do projeto
    p Lorem ipsum dolor, sit amet consectetur adipisicing elit. Porro nisi quidem, et quo dignissimos amet labore delectus, libero adipisci repellendus similique asperiores atque voluptates unde voluptatum praesentium soluta impedit reiciendis.
    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Totam architecto quia aut delectus quae quam ab ipsam eos repellat nihil animi, impedit esse molestias mollitia recusandae itaque, ex soluta obcaecati?
    p Lorem ipsum dolor, sit amet consectetur adipisicing elit. Eaque temporibus necessitatibus sequi aliquam ducimus ut dignissimos voluptas ex molestias, asperiores iste atque numquam beatae, earum vel rem qui aperiam tenetur!