doctype html
html(lang="pt-br")
  head
    include partials/head.pug
  body
    include partials/header.pug
    include partials/home.pug
    include partials/services.pug
    include partials/about.pug