@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.4/font/bootstrap-icons.css");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

header {
  width: 100%;
  height: 8vh;
  background-color: #ffffff;
  position: fixed;
  z-index: 10000;
  outline: 2px solid #ffb901;
}
header nav {
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  flex-wrap: none;
}
header nav .header_logo {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: none;
}
header nav .header_logo p {
  font-size: 2rem;
  color: #ffb901;
  font-weight: bold;
}
header nav .header_logo p span {
  color: #022279;
}
@media (max-width: 900px) {
  header nav .header_logo p {
    font-size: 1.2rem;
  }
}
header nav .nav_list {
  list-style: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: none;
}
@media (max-width: 900px) {
  header nav .nav_list {
    position: absolute;
    top: 8vh;
    right: 0;
    width: 100%;
    height: 92vh;
    background-image: linear-gradient(333deg, rgb(0, 15, 55) 0%, rgb(2, 100, 155) 100%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: none;
    opacity: 0;
    transition: opacity 0.5s ease;
  }
}
header nav .nav_list li {
  margin-left: 30px;
}
@media (max-width: 900px) {
  header nav .nav_list li {
    margin-left: 0;
  }
}
header nav .nav_list li a {
  font-weight: bold;
  color: #022279;
  font-size: 1.2rem;
  transition: 0.5s;
}
header nav .nav_list li a:hover {
  color: #ffb901;
  font-size: 1.32rem;
  text-decoration: underline;
}
@media (max-width: 900px) {
  header nav .nav_list li a:hover {
    font-size: 2.2rem;
  }
}
@media (max-width: 900px) {
  header nav .nav_list li a {
    font-size: 2rem;
    color: #ffffff;
  }
}
header nav .nav_list.active {
  opacity: 1;
}
header nav .mobile_menu {
  cursor: pointer;
  display: none;
}
@media (max-width: 900px) {
  header nav .mobile_menu {
    display: block;
  }
}
header nav .mobile_menu div {
  height: 2px;
  width: 30px;
  margin: 8px;
  background-color: #022279;
  transition: 0.5s;
}
header nav .mobile_menu.active .line1 {
  transform: rotate(-45deg) translate(-8px, 8px);
}
header nav .mobile_menu.active .line2 {
  opacity: 0;
}
header nav .mobile_menu.active .line3 {
  transform: rotate(45deg) translate(-5px, -7px);
}

#home {
  width: 100%;
  height: 90vh;
  background: linear-gradient(333deg, rgb(0, 15, 55) 0%, rgb(2, 100, 155) 100%);
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  flex-wrap: none;
  padding: 0 7%;
}
@media (max-width: 900px) {
  #home {
    height: 95vh;
  }
}
#home .home_content {
  width: 40%;
  min-width: 300px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  flex-wrap: none;
  color: #ffffff;
}
#home .home_content h1 {
  font-size: 2.5rem;
  margin-bottom: 20px;
  font-size: 2rem;
}
#home .home_content p {
  font-size: 1.2rem;
  margin-bottom: 20px;
}
@media (max-width: 900px) {
  #home .home_content p {
    font-size: 1rem;
  }
}
#home .home_content span {
  margin-bottom: 10px;
}
#home .home_content a {
  margin-top: 10px;
  color: #ffffff;
  padding: 10px 50px;
  background-color: #ffb901;
  border-radius: 20px;
}
#home .home_house {
  width: 50%;
  position: absolute;
  bottom: -14%;
  right: 0;
}
@media (max-width: 900px) {
  #home .home_house {
    bottom: -5%;
  }
}
#home .home_city {
  width: 60%;
  position: absolute;
  bottom: 0;
  left: 20%;
}
#home .home_circles {
  position: absolute;
  top: 20%;
  left: 10%;
}
@media (max-width: 900px) {
  #home .home_circles {
    width: 30%;
  }
}

#about {
  width: 100%;
  background: linear-gradient(333deg, rgb(0, 15, 55) 0%, rgb(2, 100, 155) 100%);
  padding: 0 7%;
  padding-top: 150px;
  padding-bottom: 150px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
#about .about_content {
  width: 50%;
  min-width: 320px;
}
#about .about_content h1 {
  color: #ffffff;
  margin-bottom: 20px;
  font-size: 2.5rem;
}
#about .about_content p {
  width: 70%;
  color: #ffffff;
  margin-bottom: 20px;
}
@media (max-width: 900px) {
  #about .about_content p {
    width: 100%;
  }
}
#about .about_content a {
  display: inline-block;
  color: #000000;
  margin-right: 20px;
  padding: 10px 30px;
  background-color: #ffb901;
  border-radius: 20px;
  font-weight: bold;
}
@media (max-width: 900px) {
  #about .about_content a {
    padding: 10px 20px;
  }
}
#about .about_content a i {
  margin-left: 10px;
}
#about .about_slider {
  width: 50%;
  min-width: 320px;
  height: 100%;
}
@media (max-width: 900px) {
  #about .about_slider {
    margin-bottom: 50px;
  }
}
#about .about_slider img {
  width: 80%;
}

#services {
  width: 100%;
  padding: 0 7%;
  padding-top: 170px;
  padding-bottom: 170px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-wrap: none;
}
#services .services_top {
  width: 75%;
  text-align: center;
}
@media (max-width: 900px) {
  #services .services_top {
    width: 100%;
  }
}
#services .services_top .services_top_title {
  width: 70%;
  margin: 0 auto;
  margin-bottom: 80px;
}
@media (max-width: 900px) {
  #services .services_top .services_top_title {
    width: 100%;
  }
}
#services .services_top .services_top_title h1 {
  margin-bottom: 20px;
  font-size: 2.5rem;
}
#services .services_top .services_top_cards {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
}
#services .services_top .services_top_cards div {
  width: 42%;
  min-width: 320px;
  height: 400px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
  border-radius: 20px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  flex-wrap: none;
  padding: 30px;
}
@media (max-width: 900px) {
  #services .services_top .services_top_cards div {
    margin-bottom: 100px;
  }
}
#services .services_top .services_top_cards div img {
  position: absolute;
  top: -50px;
  right: 50%;
  transform: translateX(50%);
}
#services .services_top .services_top_cards div h1 {
  margin-bottom: 20px;
  color: #022279;
  font-size: 2rem;
}
#services .services_top .services_top_cards div p {
  margin-bottom: 20px;
}
#services .services_top .services_top_cards div a {
  margin-bottom: 10px;
  color: #000000;
  padding: 10px 50px;
  background-color: #ffb901;
  border-radius: 20px;
  font-weight: bold;
}
#services .services_bottom {
  margin-top: 80px;
  width: 80%;
  text-align: center;
}
@media (max-width: 900px) {
  #services .services_bottom {
    width: 100%;
    margin-top: 0px;
  }
}
#services .services_bottom h1 {
  width: 70%;
  margin-bottom: 20px;
  font-size: 2.5rem;
  margin: 0 auto;
}
@media (max-width: 900px) {
  #services .services_bottom h1 {
    font-size: 2rem;
    width: 100%;
  }
}
#services .services_bottom .services_bottom_cards {
  margin-top: 80px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
}
#services .services_bottom .services_bottom_cards .services_bottom_card {
  width: 22%;
  height: 230px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
  border-radius: 20px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  flex-wrap: none;
  padding: 20px;
}
@media (max-width: 900px) {
  #services .services_bottom .services_bottom_cards .services_bottom_card {
    width: 320px;
    margin-bottom: 80px;
  }
}
#services .services_bottom .services_bottom_cards .services_bottom_card div {
  width: 50%;
  height: 100px;
  border-radius: 20px;
  background: linear-gradient(333deg, rgb(0, 15, 55) 0%, rgb(2, 100, 155) 100%);
  position: absolute;
  top: -30px;
  right: 50%;
  transform: translateX(50%);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: none;
}
#services .services_bottom .services_bottom_cards .services_bottom_card div i {
  color: #ffb901;
  font-size: 2.5rem;
}
#services .services_bottom .services_bottom_cards .services_bottom_card h2 {
  margin-bottom: 10px;
  color: #022279;
}
#services .services_bottom .services_bottom_cards .services_bottom_card p {
  margin-bottom: 15px;
}

/*# sourceMappingURL=style.css.map */
